<!DOCTYPE html><html><head><meta charset="utf-8"/>

  
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <!-- Site Metas -->
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <title>Businera</title>
  <link rel="icon"  href="images/logotitle.png" type="image/png">

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css"/>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="css/footer.css"/>
  

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&amp;display=swap" rel="stylesheet"/>
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet"/>
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet"/>
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
     <%- include("layoouts/header") %>
    <!-- end header section -->
  </div>

  <!-- welcome section -->
  <section class="welcome_section layout_padding">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          About Us
        </h2>
      </div>
      <div class="layout_padding2">
        <div class="img-box">
          <img src="images/welcome.png" alt=""/>
        </div>
        <div class="detail-box">
          <p>
            Businera is an innovative online platform that revolutionizes the way businesses connect and engage with their customers. Through its user-friendly website, Businera facilitates seamless and efficient interactions between businesses and their target audience. By harnessing the power of technology, Businera empowers businesses to establish a strong online presence, showcase their products or services, and foster meaningful relationships with customers. With its intuitive interface and comprehensive features, Businera ensures a hassle-free experience for both businesses and customers, driving growth and success in the digital landscape. In the ever-evolving world of online commerce, Businera is the go-to solution for businesses seeking to thrive and prosper.
          </p>
          <div>
         
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- end welcome section -->



<%- include("layoouts/footer") %>
    <!-- info section -->

    <!-- end info_section -->

 
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
</body></html>