<html>
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <title>Businera</title>
  <link rel="icon"  href="images/logotitle.png" type="image/png">
    
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet"  href="/css/bootstrap.css" />

  <link rel="stylesheet"  href="/css/footer.css" />
  

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&amp;display=swap"
    rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />
    <style>
      .form-gap {
    padding-top: 70px;
}
    </style>
  </head>
  <body>


      <br>
      <br>
<div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <%
    if(typeof message !== 'undefined')
    { %>
        <h4 style="text-align:center;margin-top:5rem"><%= message %></h4>
    <%}
%>
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here . It will take sometime for mail , If it doesn't work DO IT AFTER SOMETIME.</p>
                  <div class="panel-body">
    
                    <form action="/forget"  id="register-form" role="form" autocomplete="off" class="form" method="post">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input id="email" name="email" placeholder="email address" class="form-control"  type="email">
                        </div>
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Send Mail" type="submit">
                      </div>
                      
                      <!-- <input type="hidden" class="hide" name="token" id="token" value="">  -->
                    </form>

                    
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>

  </body>
</html>  
  
  